<%- include('./layout')-%>
<style>
    body{
        margin: 10px;
        padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h2{
        font-weight: bold;
        font-style: italic;
    }
    img{
        border-radius: 25px;
        position: relative;
        left: 20px;
    }
</style>
    <div class="d-flex justify-content-center my-5 px-5">
        <h2>Bievenid@ <%=username%></h2>
        <img src=<%=photo%> />
    </div>
    <h2>DATOS ULTRASENSIBLES:</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum autem veritatis, enim quidem nulla amet nisi eius doloremque consequuntur dolor adipisci iste. Tempore nostrum accusamus totam illum, eveniet magni qui!</h3>
    <button class="btn btn-success my-3" onclick="location.href='/logout'">Log out</button>
</body>
</html>