<%- include('./layout')-%>
    <style>
        body{
            display: flex;
            justify-content: center;
            margin: 10px;
            padding: 5px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        button {
            border-radius: 4px;
            color: rgb(82, 82, 255)
        }

    </style>
    <button class="btn btn-success my-3" onclick="goLogin()">Iniciar sesión con facebook</button>

    <script>
        const goLogin = () => {
            location.href = '/login'
        }
    </script>
</body>
</html>