<%- include('./layout')-%>
    <div class="container my-5">

        <h1>SIGNUP</h1>
        <br>
        <form class="form m-3" role="form" action="/signup" method="post" autocomplete="off">

            <div class="form-group">
                <input name='username' placeholder="Nombre" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <input name='password' placeholder="Password" class="form-control" type="password" required>
            </div>

            <br>

            <div class="form-group">
                <input name='firstName' placeholder="firstname" class="form-control" type="text" required>
            </div>

            <div class="form-group">
                <input name='lastName' placeholder="lastname" class="form-control" type="text" required>
            </div>

            <div class="form-group">
                <input name='email' placeholder="email" class="form-control" type="email" required>
            </div>

            <div class="form-group">
                <input class="btn btn-success my-3" type="submit" value="sign-up">
            </div>
        </form>
        <button class="btn btn-success my-3" onclick="goLogin()">Back Login </button>
    </div>
    <script>
        function goLogin() {
            location.href = "/"
        }
    </script>
    </body>

    </html>